/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	//height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	/*background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
	font-family: montserrat, arial, verdana;
background-image:url("1.jpg");
 -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
            background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */

       -moz-border-image: url("1.jpg") 0;    /* Gecko 1.9.1 (Firefox 3.5) */


}
/*form styles*/
#msform {

        //background-color:rgba(0,0,0,0.5);
        //opacity: 0.6;
        //filter: alpha(opacity=60);
	width: 400px;
	margin: 60px auto;
	text-align: center;
	position: relative;
	
}
#msform fieldset {
	background-color:rgba(0,0,0,0.3);
        //opacity: 0.6;
       // filter: alpha(opacity=60);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 90%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;


}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 12px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	width:300;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#msform .fs-heading {
	color:white;
}



